node_modules/
dist/
.pnpm-store/
.env
/contact.png
/page1.png
/page3.png
/page4.png
/page5.png
/page6.png
/page7.png
/page8.png
/page9.png
/page10.png
/page11.png
/review4.png
/review5.png
/review6.png
/review7.png
